@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html,
body {
    height: 100%;
    width: 100%;

}

main {
    height: 100%;
    width: 100%;
    background-color: rgb(213, 255, 64);

}
nav{
  
    padding: 60px 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}
nav a{
    text-decoration:none;
    color: #000;
    font-size: 25px;
    font-weight: 500;
}

section{
    padding: 60px 100px;
}


section .heroText1{

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 10px ;

}
.heroText1 h1{

    font-size: 140px;
    text-transform: uppercase;
    line-height: 100px;
    font-weight: 900;
}
.heroText1 video{
    height: 100px;
    width: 500px;
    background-color: black;
    border-radius: 100px;
    margin-top: 10px;
    
    
}


section .heroText2{

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px ;

}
.heroText2 h1{
    
    font-size: 140px;
    text-transform: uppercase;
    line-height: 100px;
    font-weight: 900;
}
